.apply {
    -webkit-filter: brightness(100%);
}

.easyApply {
    max-width: 35%;
}

.apply:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

.apply:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}