.application-container {
    text-align: center;
    margin-top: 50px;
}
  
.application {
    cursor: pointer;
    width: 150px;
    height: 150px;
}
  
.application-count {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}